body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* LOGIN SIGNUP MODAL */

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  background: black;
  color: white;
  border: 0;
  cursor: pointer;
}

.mask {
  position: fixed;
  background: rgba(128, 128, 128, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

.login-modal {
  position: fixed;
  min-width: 100%;
  min-height: 280px;
  background: #bdc3c7;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
  transform: translateY(20px);
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.login-modal h1 {
  margin-top: 10px;
}

.login-form {
  padding: 20px 0;
}

.login-form .form-row {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}

.login-form h5 {
  font-size: 12px;
  margin: 10px 0;
}

.active {
  visibility: visible;
  opacity: 1;
}

.active + .login-modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

#errors {
  color: rgb(220, 0, 0);
}

.btn-primary {
  background-color: #efefef;
  color: black;
  border: 1px solid black;
  border-radius: 0;
  padding: 1px 6px;
  --bs-btn-border-color: black;
  --bs-btn-hover-border-color: black;
  --bs-btn-focus-shadow-rgb: black;
  --bs-btn-active-border-color: black;
  --bs-btn-disabled-border-color: black;
  --bs-btn-bg: inherit;
  --bs-btn-hover-color: inherit;
  --bs-btn-hover-bg: inherit;
  --bs-btn-active-color: inherit;
  --bs-btn-active-bg: inherit;
  --bs-btn-disabled-color: inherit;
  --bs-btn-disabled-bg: inherit;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: inherit;
  background-color: #efefef;
  border: black;
}

.modal-content {
  background: #bdc3c7;
}

.login-image {
  width: 100px;
  margin-top: 20px;
  display: none;
}

.login-modal article {
  display: flex;
  flex-direction: column;
}

.login-right {
  display: none;
}

@media (min-width: 700px) {
  .login-image {
    display: block;
  }
}

/* HEADER SECTION */

header {
  width: 100%;
  height: 5vh;
  margin: 0;
  top: 0;
  background-color: #5a5353;
  position: fixed;
  z-index: 10;
}

.desktop-nav {
  display: none;
}

.mobile-nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.mobile-nav div {
  width: 30%;
}

.hamburger {
  padding-left: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.hamburger i {
  width: 15px;
}

.logo {
  text-align: center;
}

.logo img {
  width: 20px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}

.show-button {
  margin-right: 10px;
  font-size: clamp(10px, 2vw, 14px);
  color: white;
  background-color: #5a5353;
  border: 1px solid white;
  border-radius: 8px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

/* DROPDOWN MENU */

#menu-close {
  display: none;
}

.dropdown-mobile {
  width: 100%;
  height: 3vh;
  top: 5vh;
  margin-top: 2px;
  background-color: #5a5353;
  position: fixed;
  z-index: 10;
  display: none;
  color: white;
  cursor: pointer;
}

.show {
  display: flex;
}

.dropdown-primary,
.dropdown-secondary {
  width: 40%;
  margin: auto;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dropdown-secondary img {
  width: 12px;
  margin-top: 0.5vh;
}

header i:hover,
header a:hover,
.dropdown-mobile a:hover {
  background-color: #a89f9f38;
}

/* NAV WRAP */

.nav-wrap {
  height: 3px;
  width: 0%;
  top: 5vh;
  left: 0;
  background-color: lightseagreen;
  animation: progress 1s linear;
}

@keyframes progress {
  to {
    background-color: rgb(89, 158, 89);
    width: 100%;
  }
}

:root * {
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

/* HEADER RESPONSIVE / DESKTOP DESIGN */

@media (min-width: 760px) {
  .mobile-nav,
  .dropdown-mobile {
    display: none;
  }

  .desktop-nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .desktop-nav-primary,
  .desktop-nav-secondary {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    margin: 0 50px;
  }

  .desktop-nav-primary img {
    width: 25px;
  }

  .desktop-nav-primary a,
  .desktop-nav-primary a:active {
    text-decoration: none;
    color: white;
    font-size: 12px;
  }

  .desktop-nav-secondary img {
    width: 15px;
    margin-top: 3px;
  }
}

/* MAIN */

/* INTERSECTION OBSERVERS */

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(-50%);
}

.from-right {
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

/* HERO SECTION */

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/hero-bg.jpg);
  background-size: cover;
  background-position: 20% 100%;
  background-attachment: fixed;
  padding-top: 3vh;
}

.hero h1 {
  color: black;
  font-size: clamp(22px, 5vw, 30px);
  text-align: center;
  margin-bottom: 10px;
}

h1 span {
  font-style: italic;
  justify-content: center;
  align-items: center;
  color: rgb(21, 161, 161);
  font-size: clamp(24px, 5vw, 32px);
}

.hero-button-desktop,
.hero-intro {
  display: none;
}

.hero-right {
  width: 75vw;
  max-width: 300px;
  background: no-repeat center cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.hero-right img {
  opacity: 0.4;
  width: 100%;
}

.hero-button-mobile {
  font-size: clamp(14px, 3vw, 20px);
  border-radius: 8px;
  background-color: rgb(70, 100, 131);
  color: white;
  border: 0;
  padding: 0 15px;
}

.prompt {
  display: none;
}

@media (min-width: 760px) {
  .hero {
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    background-position: 0% 50%;
  }

  .hero-left,
  .hero-right {
    width: 42%;
  }

  .hero-left {
    padding-bottom: 150px;
  }

  .hero-left,
  .hero-left span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-button-desktop {
    display: block;
    font-size: 14px;
    border-radius: 8px;
  }

  .hero-intro {
    display: block;
    font-size: 14px;
  }

  .hero-button-mobile {
    display: none;
  }

  .hero strong {
    font-weight: 300;
    text-decoration: underline rgb(21, 161, 161) 1px;
  }

  .hero img {
    width: 250px;
  }

  .prompt {
    display: block;
    position: absolute;
    bottom: 20px;
    color: white;
    animation: bounce 1.5s infinite alternate;
  }

  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(10px);
    }
  }
}

/* NEXT SECTION

FEATURES*/

.features {
  background: rgb(181, 181, 181);
  background: linear-gradient(
    153deg,
    rgba(181, 181, 181, 1) 13%,
    rgba(160, 162, 160, 1) 35%,
    rgba(181, 181, 181, 1) 70%
  );
  width: 100%;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.3);
}

.feature {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  font-size: clamp(12px, 3vw, 14px);
}

.feature img {
  max-width: 500px;
  width: 100%;
}

.feature ul {
  max-width: 750px;
}

.feature:hover {
  background-color: rgba(230, 230, 230, 0.05);
  transform: scale(1.01);
  transition: 0.3s;
}

@media (min-width: 950px) {
  article {
    display: flex;
    flex-wrap: wrap;
  }

  .feature {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 400px;
    height: 450px;
  }

  #feature-5 {
    margin: auto;
  }
}

/* NEXT SECTION */

.benefits {
  width: 100%;
  max-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #f5f5f5;
}

.benefits-content {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefits h2 {
  font-size: clamp(26px, 4vw, 30px);
  margin-bottom: 20px;
}

.benefits h4 {
  font-size: clamp(14px, 4vw, 16px);
}

.accordion-button {
  font-size: clamp(14px, 4vw, 16px);
  padding-right: 1px;
}

.benefits li {
  font-size: clamp(12px, 3vw, 14px);
}

.accordion {
  --bs-accordion-active-bg: rgb(230, 230, 230);
  --bs-accordion-active-color: inherit;
  --bs-accordion-btn-focus-box-shadow: inherit;
}

.accordion-collapse {
  transition: 1s;
}

.svg {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-logo {
  height: 100%;
}

@media (max-width: 450px) {
  .benefits-content {
    margin: 3vw;
  }

  .accordion-body,
  .accordion-button {
    padding: 0 10px;
  }

  .svg {
    width: 45%;
    height: 100vh;
  }

  .benefits ul {
    padding-inline-start: 5px;
  }
}

/* NEXT SECTION */

.join {
  width: 100%;
  height: 90vh;
  background: rgb(181, 181, 181);
  background: linear-gradient(
    153deg,
    rgba(181, 181, 181, 1) 13%,
    rgba(160, 162, 160, 1) 35%,
    rgba(181, 181, 181, 1) 70%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.promo-slides {
  width: 90vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: bg 22s infinite;
}

@keyframes bg {
  0%,
  15%,
  55%,
  100% {
    background-image: url(/images/Slideshow\ 1.png);
  }
  20% {
    background-image: url(/images/Slideshow\ 2.png);
  }
  25% {
    background-image: url(/images/Slideshow\ 3.png);
  }
  30% {
    background-image: url(/images/Slideshow\ 4.png);
  }
  35% {
    background-image: url(/images/Slideshow\ 5.png);
  }
  40% {
    background-image: url(/images/Slideshow\ 6.png);
  }
  45% {
    background-image: url(/images/Slideshow\ 7.png);
  }
  50% {
    background-image: url(/images/Slideshow\ 8.png);
  }
}

.join a {
  text-decoration: none;
  color: white;
  font-size: clamp(20px, 4vw, 30px);
}

@media (min-width: 600px) {
  .promo-slides {
    width: 700px;
    height: 400px;
    background-size: cover;
  }
}

/* NEXT SECTION */

.pricing {
  width: 100%;
  padding: 8vh 0;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.pricing h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: clamp(20px, 4vw, 28px);
}

.pricing-desktop {
  display: none;
}

.carousel-indicators {
  margin-bottom: 0;
}

.pricing-card {
  background-color: rgb(207, 214, 222, 0.5);
  width: 60%;
  min-height: 700px;
  margin: auto;
  border-radius: 8px;
}

.price-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.price-info h3,
.price-info h4 {
  margin-bottom: 5px;
}

.price-info p {
  font-size: clamp(12px, 3vw, 14px);
}

.pricing-card ul {
  margin: 10px;
  font-size: clamp(12px, 3vw, 14px);
}

.list-header {
  list-style-type: none;
  font-weight: 700;
  font-style: italic;
}

.pricing-signup {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.pricing-signup button {
  font-size: clamp(14px, 3vw, 20px);
  border-radius: 8px;
}

@media (min-width: 760px) {
  .pricing-mobile {
    display: none;
  }

  .pricing-desktop {
    display: flex;
    flex-direction: row;
  }

  .pricing-card {
    width: 30%;
    height: 700px;
  }

  .pricing-card:hover {
    transform: scale(1.02);
    transition: 1s;
  }
}

/* FOOTER */

footer {
  width: 100%;
  height: 170px;
  background-color: #5a5353;
  color: white;
  display: flex;
  justify-content: space-around;
}

footer h4 {
  font-size: clamp(14px, 2vw, 16px);
}

footer a {
  text-decoration: none;
  color: white;
  padding-top: 5px;
  font-size: clamp(10px, 2vw, 12px);
}

.footer-nav {
  padding-top: 0;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer a:hover {
  background-color: #a89f9f38;
  color: white;
}
